name: Vue-docs CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1
      - name: 步骤：第一步 Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      # - name: 步骤：第二步，安装依赖
      #   run: |
      #     npm install
      #     npm run build --if-present
      #   env:
      #     CI: true

      # - name: 步骤：第三步：Deploy,部署
      #   uses: peaceiris/actions-gh-pages@v2.5.0
      #   env:
      #     ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_ACCESS_TOKEN_VUE_DOCS_CI }}
      #     PUBLISH_BRANCH: gh-pages
      #     PUBLISH_DIR: ./docs/.vuepress/dist
      - name: 步骤：第三步（deplpy：scripts/deploy.sh）
        env:
          ACCESS_TOKEN_DEPLOY: ${{secrets.ACTIONS_ACCESS_TOKEN_VUE_DOCS_CI }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./docs/.vuepress/dist
        run: |
          chmod +x scripts/deploy.sh
          bash scripts/deploy.sh
